<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tekitsolutions.remindme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- <uses-permission android:name="android.permission.SET_ALARM" /> -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".Utils.ReminderApp"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="Remind Me"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".Activity.DashBoardActivity"></activity>
        <activity android:name=".Activity.WalkThroughActivity" />
        <activity android:name=".Activity.HelpActivity" />
        <activity android:name=".Activity.BaseActivity" />
        <activity android:name=".Activity.AlertDialogActivity" />
        <activity android:name=".Activity.AddCustomCategory" />
        <activity android:name=".Activity.AddWaterBillActivity" />
        <activity
            android:name=".Activity.AddGasActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchResultActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Activity.AddLandlineActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddInsuranceActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".Activity.AddReminderActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.AddReminderTypeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.PaymentListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.CategoryListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddCardActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddNetBankingActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.BankListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ReminderDetailActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ProviderListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ParticularPaymentModeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddElectricityBillActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.WebPageActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddCashActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:recreateOnConfigChanges=""
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.SplashActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ChangePasscodeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EnterPasswordActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".Activity.AddFavoriteReminder"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreatePasswordActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c049d16d1dccc2dc8164e5946b291bf5444dc4d6" /> <!-- TODO:-> registering the receiver -->
        <receiver
            android:name=".Receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>